:root {
    --black: #070600;
    --pink: #ea536f;
    
}

* {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #070600;
}

h1 {
    font-size: 35px;
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #070600;
}

#tryalign {
    background-color: #070600;
    
}

header > h1 {
    background-color: #ea526f;
    padding-left: 25px;
    padding-right: 15px;
    margin-bottom: 12px;
    display: flex;
}

header > ul {
    text-align: right;
    color: #ea526f;
    display: flex;
    align-items: center;
    border: 10px;
}


header ul > li {
    color: #ea526f;
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: 20px;
    display: flex;

}

.container {
    position: relative;
    text-align: center;
    color: white;
}

#subtitle {
    position: absolute;
    bottom: 8px;
    right: 32px;
    background: #ea526f;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 5px 0px 0px 5px;
}

main div section > h1 {
    padding-left: 25px;
    display: flex;
    text-align: right;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    width: 30%;
}

p {
    display: flex;
    flex-direction: column;
    border: 10px;
    text-align: right;
    font-size: 15px;
    line-height: 3vh;

}
#thebigone {
    float: right;
    display: flex;
    border: 10px;
    font-size: 15px;
}
.imgbox {
    float: right;
    display: flex;
    border: 10px;
    font-size: 15px;
}

main div section ul > li {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    
    justify-content: space-between;
    text-decoration: underline;
    font-size: 15px;
    padding-right: 5px;

}

a {
    color: #ea526f;
}