:root {
    --black: #070600;
    --pink: #ea536f;
/* although never used, I declared the color variables just in case */
}
/* setting the font family and color of the text for the whole doc */
* {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #070600;
}

h1 {
    font-size: 35px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    background: #070600;
}
/* just a div for the background of the header */
#tryalign {
    background-color: #070600;
    
}

header > h1 {
    background-color: #ea526f;
    padding-left: 25px;
    padding-right: 15px;
    margin-bottom: 12px;
    display: flex;
}

header > ul {
    text-align: right;
    color: #ea526f;
    display: flex;
    align-items: center;
    margin-right: 10px;

}

/* list at the top */
header ul > li {
    color: #ea526f;
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: 20px;
    display: flex;

}
/* this is what #subtitle and the h3 element use for position:absolute */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* the topright "subtitle"  */
#subtitle {
    position: absolute;
    bottom: 8px;
    right: 32px;
    background: #ea526f;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 5px 0px 0px 5px;
}

/* the meat of the doc, in here are the "about me", "work" and "contact me formatting */
section {
    display: flex;
    justify-content: space-between;
    margin: 2% 10% 2% 2%;

}

/* all the "side" elements, need to fix the bottom h1 tag to 
have the text not be all on one line
*/
.h1main {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    padding-right: 1%;
}

/* lorem ipsum */
p {
    display: inline-block;
    font-size: 15px;
    line-height: 3vh;
    margin-left: 2%;
}
/* div for the one huge jumbotron */
#thebigdiv {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}
/* the one huge jumbotron */
#thebigone {
    border-style: solid;
    border-width: 2%;
    margin-left: 2%;
    margin-bottom: 1%;

}
/* div for the small imgs */
.thelildiv {
 display: flex;
 width: 75%;
 flex-wrap: wrap;
 
}
/* this is the 4 smaller image img elements */
.imgbox {
    border-style: solid;
    border-width: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-right: 10px;
}
/* this is the "text here, more text"on the image elements. */
h3 {
    position: absolute;
    bottom: 18px;
    left: 12px;
    width: 75px;
    height: 37px;
    background: #ea526f;
}

main section > ul {
    display: flex;
    width: 50%;

}
/* list formatting at the bottom */
main section ul > li {
    display: inline;
    justify-content: space-evenly;
    margin-right: 6%;
    text-decoration: underline;
}

/* to fit in with the format of header, though change this later as 
the h1 elements are now also a elements
*/
a {
    color: #ea526f;
}

/* adds a red dropshadow and changes cursor to pointer when hovered */
.imgbox:hover {
    cursor: pointer;
    box-shadow: .5rem .5rem 1rem #e23 ;
  }
  
  /* media elements for when the window is downsized */
  @media screen and (max-width:1068px) {

  }

  @media screen and (max-width:500px) {

  }